body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.question-container {
    background-color: pink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #d0d0d0;
}

.letter {
    background-color: rgb(212, 107, 107);
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    transition: background-color 0.3s;
    width: 50px;
    border-right: none;
    margin-left: -10px;
    height:20px;
    text-align: center;
}

.correct {
    background-color: green;
    color: white;
}

.correct .letter {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.incorrect .letter {
    background-color: red;
    color: white;
}